<!DOCTYPE html>
<html>
<head>
  <title>Uploaded Files Preview</title>
</head>
<body>
  <h2>Your Uploaded Files</h2>

  <div>
    <h3>Selfie</h3>
    <% if (selfiePath) { %>
      <img src="<%= selfiePath %>" width="350" alt="Selfie">
    <% } else { %>
      <p>No selfie yet.</p>
    <% } %>
  </div>

  <div>
    <h3>Passport</h3>
    <% if (documents && documents.passport_path) { %>
      <% if (documents.passport_path.endsWith('.pdf')) { %>
        <embed src="<%= documents.passport_path %>" type="application/pdf" width="350" height="500" />
      <% } else { %>
        <img src="<%= documents.passport_path %>" width="350" />
      <% } %>
    <% } %>
  </div>
  <div>
    <h3>ID Card</h3>
    <% if (documents && documents.id_card_path) { %>
      <% if (documents.id_card_path.endsWith('.pdf')) { %>
        <embed src="<%= documents.id_card_path %>" type="application/pdf" width="350" height="500" />
      <% } else { %>
        <img src="<%= documents.id_card_path %>" width="350" />
      <% } %>
    <% } %>
  </div>
  <div>
    <h3>Driving License</h3>
    <% if (documents && documents.license_path) { %>
      <% if (documents.license_path.endsWith('.pdf')) { %>
        <embed src="<%= documents.license_path %>" type="application/pdf" width="350" height="500" />
      <% } else { %>
        <img src="<%= documents.license_path %>" width="350" />
      <% } %>
    <% } %>
  </div>

  <!-- <div>
    <h3>ID Card</h3>
    <img src="/uploads/2/id_card_path.pdf" width="350" height="500" alt="ID Card" />
  </div>

  <div>
    <h3>License</h3>
    <img src="/uploads/2/license_path.jpg" width="350" height="500" alt="License" />
  </div> -->
</body>
</html>
